@model IEnumerable<PruebaTec02NDMM.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Lista de categorias</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Agregar categoria</a>
</p>
<table class="table table-bordered" clas="table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoriaId" class="btn btn-outline-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.CategoriaId" class="btn btn-outline-success">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.CategoriaId" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
