@model IEnumerable<PruebaTec02NDMM.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de productos</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Agregar producto</a>
</p>
<table class="table table-bordered" clas="table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Categoria.NombreCategoria)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductoId" class="btn btn-outline-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ProductoId" class="btn btn-outline-success">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.ProductoId" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
